<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My lecture</title>
</head>
<body>
My lecture
<table border="1">
    <thead>
        <th>subject</th>
        <th>lecture name</th>
        <th>tutee</th>
        <th>price</th>
    </thead>

    <tbody>
        {% for subject in subjects2 %}
        <tr>
            <td>{{ subject[0] }}</td>
            <td>{{ subject[1] }}</td>
            <td>{{ subject[2] }}</td>
            <td>{{ subject[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<br><br>
Registered Lecture
<table border="1">
    <thead>
        <th>subject</th>
        <th>lecture name</th>
        <th>tutor</th>
        <th>price</th>
    </thead>

    <tbody>
        {% for subject in subjects1 %}
        <tr>
            <td>{{ subject[0] }}</td>
            <td>{{ subject[1] }}</td>
            <td>{{ subject[2] }}</td>
            <td>{{ subject[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<br>
<button onclick="history.back()">return</button>
</body>
</html>